body{
    display: grid;
    justify-content: center;
    align-content: stretch;

}
#title {
    text-align: center;
    font-family: 'Get Schwifty';
    width: 100%;
    text-align: center;
    font-family: 'Get Schwifty';
    font-size: 100px;
    color: #08BAE3;
    z-index: 50;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    padding: 0;
}
#container1{
    background-image: url("resources/rickmorty_background.jpg");

    padding: 0;
}
#container{
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    border-color: black 100px;
    border-style: solid;
    margin: 10px;
}

#nameChar{
    text-align: center; 
    background-color: #08BAE3;;
    font-family: 'Get Schwifty';
    color: white;
    padding: 0;

 
}


@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }
  